<html>
<head><title>Balance</title></head>
<body>
<h2>
    Отчет по балансу
</h2>
<p><label>Номер карты - {{cardNumber}}</label></p>
<p><label>Дата - {{opTime}}</label></p>
<p><label>Баланс - {{cardBalance}}</label></p>
<a type="button" href="/" >Выход</a>
<a href="#" onclick="javascript:window.history.back(-1);return false;">Назад</a>
</body>
</html>