<html>
<head><title>Error</title></head>
<body>
<h2>
    {{#errorText}}
        {{errorText}}
    {{/errorText}}
</h2>
<a href="#" onclick="javascript:window.history.back(-1);return false;">Назад</a>
</body>
</html>