<html>
<head><title>Отчет о операции</title></head>
<body>
<h2>
Отчет
</h2>
<p><label>Номер карты - {{cardNumber}}</label></p>
<p><label>Дата - {{date}}</label></p>
<p><label>Снятая сумма - {{sum}}</label></p>
<p><label>Остаток на счету - {{remainder}}</label></p>
<a href="#" onclick="javascript:window.history.back(-1);return false;">Назад</a>
<a type="button" href="/" >Выход</a>
</body>
</html>