<html>
<head><title>Operations</title></head>
<body>
{{#operations}}
<p><a type="button" href="/card/{{cardId}}/operation/{{opCode}}">{{opName}}</a></p>
{{/operations}}
<a href="#" onclick="javascript:window.history.back(-1);return false;">Назад</a>
<a type="button" href="/" >Выйти</a>
</body>
</html>